@font-face{
  font-family: "oswaldregular";
  src: url("../fonts/oswaldmedium.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face{
  font-family: "oswaldmedium";
  src: url("../fonts/oswaldmedium.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
