.additionally {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: none;
  margin: 0;

  @include tablet {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 0;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    gap: 104px;
  }
}

.additionally__title {
  font-family: "oswaldregular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 34px;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;
    padding: 0;
  }
}

.additionally__control-mark {
  position: absolute;
  left: 1px;
  top: -7px;
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;

  @include tablet{
    top: 2px
  }
}

.additionally__control-mark:hover{
  border: 1px solid #BABABA;
}

.additionally__control-mark:disabled{
  opacity: 0.3;
}

.additionally__control-label {
  font-family: "oswaldregular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 48px;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }
}

.additionally__control-label:hover{
  color: #000000;
}

.additionally__control-label:disabled{
  opacity: 0.3;
}

.additionally__label:not(:last-child) {
  margin-bottom: 20px;
}

.additionally__label:last-child {
  margin-bottom: 34px;
}

.additionally__label {
  position: relative;
  margin-bottom: 15px;
}

.additionally__input:checked+.additionally__control-mark::before {
  position: absolute;
  content: url(../img/checkbox-arrow.svg);
  bottom: 1px;
  left: 4px;
}

.additionally__input:checked + .additionally__control-mark:disabled::before{
  opacity: 0.3;
}

.form__button {
  margin-bottom: 28px;
}



.additionally__label:nth-child(2) {
  @include tablet {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.additionally__label:nth-child(3) {
  @include tablet {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.additionally__label:nth-child(4) {
  @include tablet {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.additionally__label:nth-child(1) {
  @include tablet {
    grid-column: 2/3;
    grid-row: 2/2;
  }
}
