.bonus {
  background-image: url(../img/background-cat.jpg);
  background-repeat: no-repeat;
  width: 279px;
  height: 289px;
  position: relative;
  background-color: rgba(104, 183, 56, 0.85);
}

.bonus::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: rgba(104, 183, 56, 0.85);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bonus__text {
  font-family: 'Arial';
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  z-index: 2;
  position: relative;
  padding-top: 187px;
  margin: 0;
  margin-top: 32px;
}
