.button{
  font-family: "oswaldregular", Arial, Helvetica, sans-serif;
  width: 280px;
  background-color: #68B738;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
}

.button:hover{
  background-color: #5EAA2F;
}

.button__text:active{
  color: #ffffff;
  opacity: 0.3;
}
