.catalog {
  padding-left: 20px;
  padding-right: 20px;
}

.catalog__title {
  margin: 0;
  font-family: "oswaldregular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 42px;
}
