.comment__title {
  margin: 0;
  font-family: "oswaldregular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 38px;
}

.comment__text {
  font-family: "oswaldregular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 280px;
  min-height: 150px;
  padding: 9px 12px 9px 15px;
  border: 1px solid #E7E7E7;
  margin-bottom: 23px;
}
