.discription__text:last-child {
  margin-bottom: 49px;
}

.discription__title {
  font-family: "oswaldregular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.discription__text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-left: 80px;
  margin: 0;
  margin-bottom: 20px;

  @include tablet {
    padding: 151px 29px 59px 0;
    position: relative;
    z-index: 1;

  }
}

.discription__number {
  display: none;

  @include tablet {
    display: block;
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #F2F2F2;
    position: absolute;
    left: 90px;
    top: 34px;
  }
}

.discription__box {
  @include tablet {
    width: 230px;
    position: relative;
    display: flex;
  }

  @include desktop {
    max-width: 250px;
  }
}

.discription__wrapper {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
  @include desktop{
    justify-content: space-between;
  }
}

.discription__box:nth-child(2n+1) {
  @include tablet {
    margin-right: 153px;
  }
  @include desktop{
    margin: 0;
  }
}

.discription {
  @include tablet {
    padding-bottom: 47px;
    border-bottom: 1px solid #E6E6E6;
  }
}
