.form {
  margin: 0;
}

.form__label {
  font-family: "oswaldregular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__input {
  display: inline-block;
  font-family: "oswaldregular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding: 13px 15px 14px 15px;
  border: 1px solid #E7E7E7;
}

.form__input--name {
  width: 228px;
  margin-bottom: 13px;
  margin-left: 8px;
}

.form__input--weight {
  width: 191px;
  margin-bottom: 10px;
  margin-left: 21px;}

.form__input--age {
  width: 172px;
  margin-bottom: 23px;
  margin-left: 5px;
}

.form__required{
  display: block;
  text-align: center;
  margin-bottom: 32px;
}
