.header{

  @include tablet{
    display: flex;
  }

  &__logo{
display: block;
text-align: center;
@include tablet{
  padding-right: 94px;
}
}
}

.header__toggle{

  @include tablet {
    display: none;
  }

}
