.location {
  background-color: #F2F2F2;

  @include tablet{
    display: flex;
    flex-direction: column-reverse;
  }
}

.location__container {
  display: flex;
  padding: 26px 20px;

}

.location__address {
  margin: 0;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.location__invite {
  font-family: "oswaldregular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @include tablet{
    background-color: #FFFFFF;
  }
}
