.main__button{
  display: block;
  margin: 0 auto;
  margin-top: 138px;

  @include tablet{
    margin: 0;
    margin-left: 91px;
    margin-bottom: 596px;
    z-index: 2;
    position: relative;
  }
}
