.social__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.social__link{
  text-decoration: none;
  padding: 12px;
}

.social__icon{
  fill: #666666;
}


.social__icon:hover{
  fill: #68B738;
}

.social__icon:active{
  opacity: 0.3;
}
.social__container{
  @include tablet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 30px 30px 30px;
  }
}
